.navbar-nav {
	margin-left: 800px;

}

.containter {
	background: url(../images/bluewave.png) no-repeat center center fixed;
	background-size: cover;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	height:900px;
	max-width:100%;
}

#name {
	text-align: center;
	font-family: 'Merriweather', serif;
	font-size: 48px;
	
}

#slide {
	height: 500px;
	width: 500px;
}

.list {
	padding-top: 70px;
	font-family: 'Merriweather', serif;
	font-size: 48px;
	padding-left: 550px;
}

.list2{
	padding-top: 10px;
	font-family: 'Merriweather', serif;
	font-size: 48px;
	padding-left: 360px;
}

.container2{
	background: url(../images/bluewave.png) no-repeat center center fixed;
	background-size: cover;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	height: 550px;
	max-width: 100%;
}

#pict{
	height: 80px;
	width: 80px;
	padding: 5px;
}

.bottom{
	background-color: darkblue;
	height: 100px;
	max-width: 100%;
	padding-left: 90px;
}

.contact{
	padding-top: 50px;
	font-family: 'Merriweather', serif;
	font-size: 48px;
	padding-left: 400px;
	color:rebeccapurple;


}

.mail{
	padding-top: 0px;
	font-family: 'Merriweather', serif;
	font-size: 48px;
	padding-left: 200px;
	color:rebeccapurple;
	
}

.photo{
	height: 150px;
	width: 150px;
	padding-left: 40px;
	padding-top:36px;
	padding-right: 20px;
	
}

p{
	padding-top: 40px;
	font-family: 'Merriweather', serif;
	font-size: 25px;
	margin-right: 10px;
	margin-left:10px;
	color:rebeccapurple;
}

h1 {
	padding-top: 100px;
	text-align: center;
	font-size: 128px;
	font-family: 'Merriweather', serif;
	font-style: bold;
}

.title{
	font-style: bold;
	color:rebeccapurple;
}

#heading {
	margin-left: 3%;
	color: yellow;
}

@import url(https://fonts.googleapis.com/css?family=Khula:700);
body {
  background: #111;
}
.hidden {
  opacity:0;
}
.console-container {
 
  font-family:Khula;
  font-size:4em;
  text-align:center;
  height:200px;
  width:600px;
  display:block;
  position:absolute;
  color:white;
  top:320px;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
}
.console-underscore {
   display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}

.console-container2 {
 
  font-family:Khula;
  font-size:4em;
  text-align:center;
  height:200px;
  width:600px;
  display:block;
  position:absolute;
  color:white;
  top:100px;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
}
